<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:text-color="http://www.w3.org/1999/xhtml">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/main.css" />
</head>

 <body>
  <header>
    </br>
    <h1>Strona pomocnicza - jak korzystać z aplikacji?</h1>
    </br>
    </br>
    <nav>
        <div>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link  active" href="/wiretapp">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  records" href="/wiretapp/records">Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  player" href="">Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  about" href="/wiretapp/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


 </body>
</html>