<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:text-color="http://www.w3.org/1999/xhtml">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/main.css" />

    <meta charset="UTF-8">
    <meta name="description" content="This is a wiretap web interface">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Wiretapp</title>


    <script>
    function Live(){
    let live = document.createElement('audio');
    live.src = "http://127.0.0.1:8001/transmisja";
    live.preload = "none";
    live.load();
    live.play()
    }

    function Live2(){
    var fileName = "/static/records/ImperialMarch60.wav";
    var start = 0; //seconds
    audio = new Audio();
    audio.src = "getAudio/";
    audio.play();
    }

</script>
</head>

<body>

<header>
    </br>
    <h1>Siodemka's Wiretapp</h1>
    </br>
    </br>
</header>
<nav>
    <div>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active " href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link records" href="records/">Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link player" href="player/">Player</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about" href="about/">About</a>
            </li>
        </ul>

        </br>
        </br>
    </div>
</nav>


<section>
    <form method="post" action="#">
        {% csrf_token %}
          <div class="btn-group" role="group" aria-label="Basic example">
              <button style="position:relative; left:650px; top: 50px; font-size:25px;background-color:yellow; color:black; border-color:black"
                      type="submit" class="btn btn-primary" name="start" value="start">start recording</button><br><br>
              <button style="position:relative; left:455px; top: 140px; font-size:25px;background-color:yellow; color:black;border-color:black"
                      type="submit" class="btn btn-primary" name="stop" value="stop">stop recording</button>
        </div>
    </form>
    <br>
    <form method="post" action="#">
        {% csrf_token %}
        <button style="position:relative; left: 650px; top: 150px; font-size:25px; background-color:yellow; color:black;border-color:black"
                class="btn btn-primary live " type="submit" name="on" value="on" > start receiving </button>
    </form><br>
    </form>
        {% csrf_token %}
         <button style="position:relative; left: 650px; top: 150px; font-size:25px; background-color:yellow; color:black;border-color:black"
                 class="btn btn-primary live " type="submit" name="off" value="off" > stop receiving </button>
    </form>
    <br>
    <br>
    <button style="position:relative; left: 685px; top: 160px; font-size:25px; background-color:yellow; color:black;border-color:black"
                class="btn btn-primary live " type="submit" name="liveTest" value="liveTest" onclick="Live()">play live</button><br>
    <!---
    <form method="post" action="#">
        {% csrf_token %}
    <button style="position:relative; left: 685px; top: 160px; font-size:25px; background-color:yellow; color:black;border-color:black"
            class="btn btn-primary live " type="submit" name="live" value="live" onclick="Live()">listen received</button><br>
    </form><br>
    --->


</section>

    <section>
         <!-- tutaj w src trzeba dac link do pliku do transmisji--->
    <audio>
         <source src="/static/records/ImperialMarch60.wav" controls autoplay  preload="none">
    </audio>
    <audio>
         <source src="/static/records/ImperialMarch60.wav" type="audio/wav" preload="none">
    </audio>

    <audio id="single-song" preload="none">
    <source  src="/static/records/ImperialMarch60.wav" type="audio/wav"  />
        <div id="amplitude-play-pause" class="amplitude-paused"></div>
    Your browser does not support the audio tag.
    </audio>



    </section>




</body>
</html>
