<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:text-color="http://www.w3.org/1999/xhtml">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/main.css" />

    <meta charset="UTF-8">
    <meta name="description" content="This is a wiretap web interface">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Wiretapp</title>


    <script>
    function Live(){
    let live = document.createElement('audio');
    live.src = "/static/live/liveTest.wav";
    live.load();
    live.play()
    live.onended = (event) => {Live();};
    }

    function Live2(){
    let live = document.createElement('audio');
    live.src = "/static/live/trueLiveTest.wav";
    live.oncanplay = (event) => {live.play()};
    live.load();
    }




</script>
</head>

<body>

<header>
    </br>
    <h1>Siodemka's Wiretapp</h1>
    </br>
    </br>
</header>
<nav>
    <div>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active " href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link records" href="records/">Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link player" href="player/">Player</a>
            </li>
            <li class="nav-item">
                <a class="nav-link settings" href="settings/">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link help" href="help/">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about" href="about/">About</a>
            </li>
        </ul>

        </br>
        </br>
    </div>
</nav>


<section>
     <form method="post" action="#">
        {% csrf_token %}
          <div class="btn-group" role="group" aria-label="Basic example">
              <button style="position:relative; left:650px; top: 50px; font-size:25px" type="submit" class="btn btn-primary" name="start" value="start">Nagrywanie Start</button><br><br>
              <button style="position:relative; left: 435px; top: 140px; font-size:25px" type="submit" class="btn btn-primary" name="stop" value="stop">Nagrywanie Stop</button>
        </div>
    </form><br>

   <form method="post" action="#">
        {% csrf_token %}
        <button style="position:relative; left: 550px; top: 150px; font-size:25px" class="btn btn-primary live " type="submit" name="live" value="live" >Zacznij nagrywać plik do transmisji</button>
   </form><br>


    <button style="position:relative; left: 520px; top: 160px; font-size:25px" class="btn btn-primary live " type="submit" name="live" value="live" onclick="Live()">Live podział na kilkusekundowe fragmenty</button><br>
    </br>
    <button style="position:relative; left: 620px; top: 170px; font-size:25px" class="btn btn-primary live " type="submit" name="live" value="live" onclick="Live2()">Live play while loading</button><br>
</section>



</body>
</html>