<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:text-color="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/main.css" />
    <link rel="stylesheet"
        href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <!-- Load FontAwesome icons -->
    <link rel="stylesheet"
            href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <meta charset="UTF-8">
    <meta name="description" content="This is a wiretap web interface">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">

    <title>Wiretapp</title>
</head>
<body>

<header>
    </br>
    <h1>Odtwarzacz</h1>
    </br>
    </br>
    <nav>
        <div>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link  active" href="/wiretapp">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  records" href="/wiretapp/records">Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="">Player</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  about" href="/wiretapp/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

   <svg width="100%" height="10">
  <rect  width="100%" height="10"
  style="fill:black;stroke:black;stroke-width:5;opacity:0.5" />
</svg>
    <div style="background-color: rgba(225, 225, 15, 0.7); height:1500px; opacity:0.9">

        <div class="player">

            <!-- Define the section for displaying details -->
            <div class="details">
                <div style="font-weight: bold;" class="track-name">Track Name</div>

            </div>

            <!-- Define the section for displaying track buttons -->
            <div style="font-weight: bold;" class="buttons">
                <div class="playpause-track" onclick="playpauseTrack()">
                <i class="fa fa-play-circle fa-5x"></i>
                </div>
            </div>

            <!-- Define the section for displaying the seek slider-->
            <div class="slider_container">
              <div class="current-time">00:00</div>
              <input type="range" min="1" max="100"
                value="0" class="seek_slider" onchange="seekTo()">
              <div class="total-duration">00:00</div>
            </div>

            <!-- Define the section for displaying the volume slider-->
            <div class="slider_container">
              <i class="fa fa-volume-down"></i>
              <input type="range" min="1" max="100"
                value="99" class="volume_slider" onchange="setVolume()">
              <i class="fa fa-volume-up"></i>
            </div>

    </div>

        <p style="position:relative;text-align:center;font-size:20px; color:black!important; font-weight: bold"> Cut Tool</p>

        <button style="position:relative; bottom:-40px; left:465px" onclick="begin()">Set begin time</button>


        <button style="position:relative; bottom:-39px; left:1000px" onclick="end()">Set end time</button>
        <script>
        function begin() {
          document.getElementById("begin").value = curr_time.textContent;
        }
        function end() {
          document.getElementById("end").value = curr_time.textContent;
        }
        </script>

        <form method="post" action="">
        {% csrf_token %}
            <p style="position:relative; left:250px; top:-20px;"> Begin Time</p>
        <input style="position:relative; left:250px; top:-30px;" type="text" id="begin"  name="start">
             <p style="position:relative; left:900px; top:-90px;"> End Time</p>
        <input style="position:relative; left:900px; top:-100px;" type="text" id="end" name="end">
            <p style="position:relative; left:725px; top:-80px;">Amplify</p>
        <input style="position:relative; left:670px; top:-80px;" type="text" id="amp" name="amp" value="0">
            <button style="position:relative; left:550px; top:-10px; font-size:20px;"  type="submit"  id="cut" name="cut">cut</button>
        </form>

    </div>


<!-- Load the main script for the player -->

    <script src="/static/records.js"></script>
    <script src="/static/main.js"></script>
    <p>{{ dic.index }}</p>
    {% block includes %}
    {{ index }}
    <script>
    loadTrack( {{index }} );
    document.getElementById("cut").value = {{ index }};
    </script>
    {% endblock includes %}


  <!-- Load the main script for the player -->
  <!-- script src="main.js"></script -->

</body>
</html>


