<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:text-color="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/main.css" />
    <link rel="stylesheet"
        href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

        <!-- Load FontAwesome icons -->
    <link rel="stylesheet"
            href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <meta charset="UTF-8">
    <meta name="description" content="This is a wiretap web interface">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">


    <title>Wiretapp</title>
</head>

<body>

<header>
    </br>
    <h1>Nagrania</h1>
    </br>
    </br>
    <nav>
        <div>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link  active" href="/wiretapp">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  records" href="">Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link player" href="/wiretapp/player">Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link settings" href="/wiretapp/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link help" href="/wiretapp/help">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link about" href="/wiretapp/about">About</a>
                </li>
            </ul>
            </br>
            </br>
        </div>
    </nav>
</header>

<p style="color:#24B687; position:relative; left:180px; font-size:22px; top:15px; font-weight: bold;">Records avaiable on server</p><br><br>

<form method="post">
     {% csrf_token %}
  <ul id="listWithRecords" class="records_list">
    {% for record in records %}
        <li style="color:white">
            <span class="my-handle"> {{ forloop.counter }}</span>
                <input type="hidden" name="records[]" value="{{ record }}"/> {{ record }}
                <button type="submit" class="btn btn-primary"  name="{{ forloop.counter }}"  value="{{ forloop.counter }}">Play</button>
                <button type="submit" class="btn btn-primary"  name="delete"  value="{{ forloop.counter }}" onclick="window.location.href='/wiretapp/records'">Delete</button>
        </li>
    {% endfor %}
  </ul>
</form>

<p style="color:#24B687; position:relative; left:900px; font-size:22px; top:-210px; font-weight: bold;">Records downloaded</p>


</body>
</html>


