<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:color="http://www.w3.org/1999/xhtml"
      xmlns:text-color="http://www.w3.org/1999/xhtml">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet"  href="{{ url_for('static', filename='main.css')}}"/>

    <meta charset="UTF-8">
    <meta name="description" content="This is a wiretap web interface">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Wiretapp</title>
</head>
<body>

<header>
    </br>
    <h1>Siodemka's Wiretapp</h1>
    </br>
    </br>
</header>
<nav>
    <div>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active " href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/records">Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Setting</a>
            </li>
        </ul>
        </br>
        </br>
    </div>
</nav>


<section>

    <p style="color:#24B687">Status:Connected</p>
    <form method="post" action="/connect">
        <button class="btn btn-primary connect " type="submit">Connect</button>
    </form>

    <form method="post" action="/onoff">
         <div class="btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-primary" name="on" value="on">On</button>
              <button type="submit" class="btn btn-primary" name="off" value="off">Off</button>
        </div>
    </form>

    <form method="post" action="/rec">
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-primary" name="start" value="start">Start</button>
              <button type="submit" class="btn btn-primary" name="stop" value="stop">Stop</button>
        </div>
    </form>
    <form method="post" action="/sb">
       <div class="btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-primary" name="standby" value="standby">StandBy</button>
              <button type="submit" class="btn btn-primary" name="standaway" value="standaway">StandBy Off</button>
        </div>
    </form>
   <form method="post" action="/live">
        <button class="btn btn-primary live " type="submit">Live</button>
   </form>

</section>


</body>
</html>